.Navigation_mobile_container {
   position: fixed;
   left: 0;
   top: 0;

   background-color: rgb(247, 247, 247);
   width: 50vw;
   height: 100vh;
   z-index: 9999;
   padding: 20px;
   box-sizing: border-box;
}

@media (max-width: 480px) {
   .Navigation_mobile_container {
      width: 80vw;
   }
}

.Navigation_mobile_container > svg {
   position: absolute;
   left: 20px;
   top: 20px;
}