.FilterHeader {
   display: flex;
   justify-content: space-between;
   
   background-color: #fff;
   position: relative;
   z-index: 8888;
}

.Filter_toggle {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 15%;
   height: 50px;
   border: 1px solid #dee2e6;
   cursor: pointer;
}

@media (max-width: 992px) {
   .Filter_toggle {
       width: 20%;
   }
}

@media (max-width: 768px) {
   .Filter_toggle {
       width: 30%;
   }
}

@media (max-width: 480px) {
   .Filter_toggle {
       width: 100%;
       justify-content: space-evenly;
       padding: 0 30%;
   }
}

@media (max-width: 360px) {
   .Filter_toggle {
       width: 100%;
       justify-content: space-evenly;
       padding: 0 15%;
   }
}

.Filter_toggle p {
   margin: 0;
}

.Filter_sort {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 20%;
}

@media (max-width: 1366px) {
   .Filter_sort {
       width: 30%;
   }
}

@media (max-width: 768px) {
   .Filter_sort {
       width: 40%;
   }
}

@media (max-width: 480px) {
   .Filter_sort {
       display: none;
   }
}

.Filter_sort p {
   margin: 0;
}

.Filter_sort > select {
   border: 0;
   border-bottom: 1px solid #dee2e6;
   color: grey;
   cursor: pointer;
}

.Filter_sort > select:focus {
   outline: none;
}