.Header_block_1 {
   width: 50%;
   display: flex;
   position: relative;
}

@media (max-width:768px) {
   .Header_block_1 {
      display: none;
   }
}

.Header_block_1>div {
   position: absolute;
}

.Header_block_1>div:first-of-type {
   /*ProgressBar*/
   left: 13%;
   top: 40%;
}

.Header_block_1>div:nth-of-type(2) {
   /*MinorSlider*/
   left: 21%;
   top: 19%;
   height: 80%;
}