@media (max-width: 480px) {
   .Header_title>p:nth-of-type(3) {
      font-size: 50px;
   }
}

@media (max-width: 360px) {
   .Header_title>p:nth-of-type(3) {
      font-size: 40px;
   }
}

.Header_title {
   font-size: 100px;
   font-weight: bold;
   line-height: 70px;

   position: absolute;
   top: 30%;
   left: 50%;
   transform: translateX(-50%);
}

.Header_title>p:first-of-type {
   margin-top: 0;
}

.Header_title>p:nth-of-type(3) {
   display: none;
}

@media (max-width: 1366px) {
   .Header_title {
      font-size: 90px;
   }
}

@media (max-width: 992px) {
   .Header_title {
      top: 20%;
      font-size: 70px;
   }

   .Header_title>p {
      margin-bottom: 40px;
      margin-top: 40px;
   }
}

@media (max-width: 768px) {
   .Header_title {
      width: 100%;
      text-align: center;
      font-size: 60px;
      order: 1;
      position: unset;

      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
   }

   .Header_title>p:nth-of-type(3) {
      display: block;
      margin-bottom: 0;
      margin-top: 40px;
   }

   .Header_title>p:not(:nth-of-type(3)) {
      display: none;
   }
}