.Product_price_container {
   display: flex;
   justify-content: space-between;
   width: 60%;
   margin-top: 24px;
}

@media (max-width: 1366px) {
   .Product_price_container {
      width: 70%;
   }
}

@media (max-width: 480px) {
   .Product_price_container {
      width: 100%;
   }
}

.Product_price_container h3 {
   margin: 0;
}

.Product_price_container>div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 25%;
}

.Product_price_container>div>svg {
   color: #28a745;
}