.Cart_details {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin-top: 16px;
   /* margin-left: -15px; */
   border-bottom: 1px solid #dee2e6;
   padding-bottom: 10px;
}

@media (max-width: 480px) {
   .Cart_details {
      flex-direction: column;
      align-items: unset;
   }

   .Cart_details>*:not(:first-of-type) {
      display: none;
   }
}

.Cart_details p {
   margin-bottom: 0;
}

.Cart_details>* {
   flex-shrink: 0;
   flex-grow: 0;
}

.Cart-body--wrapper {
   border-bottom: 1px solid #dee2e6;
   @media (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 0.55fr;
      gap: 0px 5px; 
      grid-auto-flow: row;
      grid-template-areas:
         "Cart-column--prod-details Cart-column--prod-details Cart-column--prod-details Cart-column--remove-prod"
         "Cart-column--qty Cart-column--qty Cart-column--total-price Cart-column--total-price";
   }
   td {
      width: 17%;
      text-align: center;
      height: 95px;
      color: grey;
      font-weight: 700;
      &.Cart-column--prod-details {
         width: 24%;
         font-weight: 400;
         padding-top: 10px;
         @media (max-width: 1024px) {
            grid-area: Cart-column--prod-details;
            width: unset;
         }
      }
      &.Cart-column--discount {
         @media (max-width: 1024px) {
            display: none;
         }
      }
      &.Cart-column--unit-price{
         @media (max-width: 1024px) {
            display: none;
         }
      }
      &.Cart-column--qty {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         font-weight: 400;
         @media (max-width: 1024px) {
            grid-area: Cart-column--qty;
            width: unset;
            justify-content: flex-start;
            height: unset;
         }
         :global(.ProductQtyMobile_ProductQtde_mobile_container__qox2X) {
            width: 100px;
         }
         :global(.ProductsQty_Product_qtde__srGeg) {
            @media (max-width: 1024px) {
               display: none;
            }
         }
      }
      &.Cart-column--total-price {
         @media (max-width: 1024px) {
            grid-area: Cart-column--total-price;
            width: unset;
            height: unset;
            display: flex;
            justify-content: flex-end;
            align-items: center;
         }
      }
      &.Cart-column--remove-prod {
         width: 8%;
         @media (max-width: 1024px) {
            grid-area: Cart-column--remove-prod;
            width: unset;
            padding-top: 10px;
            text-align: right;
         }
         .Cart_delete_icon {
            &:first-child {
               @media (max-width: 1024px) {
                  display: none;
               }
            }
            &:last-child {
               @media (min-width: 1024px) {
                  display: none;
               }
            }
         }
      }
   }
}

.Cart_details_qtde {
   display: flex;
   justify-content: center;
   flex-basis: 16.66%;
}

.Cart_details>p {
   flex-basis: 16.66%;
   text-align: center;
   font-weight: bold;
}

@media (max-width: 992px) {
   .Cart_details>p:nth-of-type(2) {
      display: none;
   }

   .Cart_details_qtde,
   .Cart_details>p {
      flex-basis: 22.22%;
   }
}

@media (max-width: 768px) {
   .Cart_details>p:first-of-type {
      display: none;
   }
}

.Cart_details>p:last-of-type {
   flex-basis: 8.33%;

}

@media (max-width: 480px) {
   .Cart_details_qtde {
      display: none;
   }
}

.Cart_delete_icon {
   color: rgba(255, 0, 0, 0.705);
   cursor: pointer;
}

.Cart_delete_icon:hover {
   color: red;
   transform: scale(1.5, 1.5);
   -webkit-transform: scale(1.5, 1.5);
   -moz-transform: scale(1.5, 1.5);
   -ms-transform: scale(1.5, 1.5);
   -o-transform: scale(1.5, 1.5);

   transition: transform 0.2s ease-in-out;
   -webkit-transition: transform 0.2s ease-in-out;
   -moz-transition: transform 0.2s ease-in-out;
   -ms-transition: transform 0.2s ease-in-out;
   -o-transition: transform 0.2s ease-in-out;
}

.Cart_price_mobile {
   display: none;
}

@media (max-width: 480px) {
   .Cart_price_mobile {
      display: flex !important;
      justify-content: space-between;
      margin-top: 20px;
   }

   .Cart_price_mobile>div p {
      margin-bottom: revert;
   }

   .Cart_price_mobile>p {
      margin-right: 15px;
   }
}