.User-options--container {
   display: flex;
   align-items: center;
   justify-content: space-between;

   flex-basis: 33.33%;
   flex-shrink: 0;
   flex-grow: 0;
}

@media (max-width: 992px) {
   .User-options--container {
      position: absolute;
      right: 10px;
      width: 20%;
   }
}

@media (max-width: 480px) {
   .User-options--container {
      font-size: 2em;
   }
}

@media (max-width: 360px) {
   .User-options--container {
      right: 10px;
   }
}

@media (max-width: 992px) {
   .User-options--container>p {
      display: none;
   }
}

.Account_icons {
   width: 60%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media (max-width: 992px) {
   .Account_icons {
      width: 100%;
   }
}

@media (max-width: 480px) {
   .Account_icons {
      margin: 0;
   }
}

@media (max-width: 992px) {
   .Account_icons>li:first-of-type {
      display: none;
   }
}

@media (max-width: 480px) {
   .Account_icons>li:nth-of-type(2) {
      display: none;
   }
}

.Enter_account_btn {
   width: auto;
   height: 40px;
   color: grey;
   cursor: pointer;
   font-weight: bold;

   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.Enter_account_btn p {
   margin: 5px 10px 5px 10px
}