.Session_container {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 80px;
}

.Session_container > div {
    width: 50%;
}

@media (max-width:991.98px) {
    .Session_container {
        flex-direction: column;
    }
    
    .Session_container > div {
        width: 100%;
    }

    .Session_container > div:first-of-type {
        order: 1;
    }
}

.Session_container > div:first-of-type > img {
    max-width: 100%;
}

@media (min-width:992px) and (max-width:1199.98px) {
    .Session_container > div:first-of-type > img {
        margin-top: 20%;
    }
}

.Login_form_container {
    height: 600px;
}

.Login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    height: 80%;
    margin-top: 5%;

}

@media (max-width:991.98px) {
    .Login_form {
        width: 90%;
        margin-left: 5%;
    }
}

.Login_form > * {
    width: 100%;
}

.Login_form h3 {
    text-align: center;
}

.Login_form label {
    margin-bottom: 0;
    margin-left: 2%;
}

.Account_access_btn,
.Login_form input {
    width: 100%;
    height: 35px;
    border: 1px solid grey;
    padding-left: 10px;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.Account_access_btn {
    background-color: grey;
    color: white;
    cursor: pointer;
    padding-top : 3px;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.Account_access_btn:hover {
    background-color: rgb(100, 100, 100);
}

.Login_form > div:nth-of-type(3) {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.Login_form > div:nth-of-type(3) > p {
    flex-basis: 33.33%;
    text-align: center;
}

.Login_form > div:nth-of-type(3) > p:not(:nth-of-type(2)) {
    width: 100%;
    height: 1px;
    background-color: grey;
}

.Form_icons_container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:991.98px) {
    .Form_icons_container {
        width: 30%;
    }
}

.Form_icons_container > div {
    width: 45px;
    height: 45px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dee2e6;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Login_form > a > p {
    text-align: center;
    cursor: pointer;
}

.Login_form > a > p:hover {
    text-decoration: underline;
}
