input {
    margin: 0;
}

.product-card-container {
    width: 78%;
    margin-left: 11%;
}

.product-card-container p {
    margin: 0;
}

.main-img-slider {
    overflow: hidden;
    padding-bottom: 30px;
}

.main-img-slider img {
    max-width: 100%;
}

.change-slide-setas-corrigir-nome {
    width: 11%;
    margin-left: 80%;
    margin-top: -45px;
    line-height: 2;
    position: relative;
}

.product-card-sub-images {
    margin-top: 25px;
}

.product-price-container {
    width: 60%;
}

.product-price-availability {
    width: 25%;
}

.product-details-container {
    width: 60%;
}

.product-details-container > * {
    width: 40%;
}

.product-details-select {
    width: 100%;
}

.product-details-select:focus {
    outline: none;
}

/* Provavelmente alterar para 'ColoSelect' */
.product-details-color {
    /* border: 1px solid black; */
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.product-details-color:hover {
    border: 2px solid black;
}

/* .product-details-color:focus {
    border: 2px solid black;
} */

.product-details-color span {
    width: 18px;
    height: 18px;
}

.product-details-color span:hover {
    background-color: yellow;
}

.product-qtde-container {
    width: 60%;
}

.product-qtde {
    width: 70px;
    height: 45px;
}

.product-qtde-arrows {
    height: 65%;
}

.product-qtde-arrows > * {
    cursor: pointer;
}

.product-qtde-arrows > *:hover {
    color: #535455;
}

.product-qtde-container button {
    font-size: 12px;
    height: 45px;
    width: 160px;
    border-radius: 0;
    -webkit-border-radius: none;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
}

.product-category-container {
    font-size: 12px;
}

.product-specifications-container {
    width: 40%;
}

