.Session_container {
    margin-top: 48px;
    margin-bottom: 48px;
}

@media (max-width: 767.98px) {
    .Session_container {
        margin-top: 16px;
    }
}

input {
    margin: 0;
}

.Product_card_container {
    display: flex;
    width: 78%;
    margin-left: 11%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 1199.98px) {
    .Product_card_container {
        width: 85%;
        margin-left: 7.5%;
    }
}

@media (max-width: 991.98px) {
    .Product_card_container {
        width: 95%;
        margin-left: 2.5%;
    }
}
    .Product_card_container > h1 {
        display: none;
    }

@media (max-width: 767.98px) {
    .Product_card_container {
        flex-direction: column;
    }
    
    .Product_card_container > h1 {
        display: block;
        text-align: center;
        margin-bottom: 16px;
        font-size: 50px;
    }
}

.Product_card_container p {
    margin: 0;
}

.Main_img_slider {
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;
}

.Main_img_slider > div:first-of-type {
    display: flex;
}

.Main_img_slider img {
    max-width: 100%;
}

.Main_img_slider > div:nth-of-type(2) { 
    display: flex;
    justify-content: space-between;
    width: 11%;
    right: 5%;
    bottom: 10%;
    line-height: 2;
    position: absolute;
}

@media (max-width: 1579.98px) {
    .Main_img_slider > div:nth-of-type(2) { 
        width: 15%;
    }
}

@media (max-width: 767.98px) {
    .Main_img_slider > div:nth-of-type(2) { 
        width: 20%;
        font-size: 30px;
    }
}

.Main_img_slider > div:nth-of-type(2) > * {
    cursor: pointer;
}

.Product_card_thumb_images {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

@media (max-width: 767.98px) {
    .Product_card_thumb_images {
        display: none;
    }
}

.Product_card_thumb_images > img {
    max-width: 30%;
    cursor: pointer;
}

.Product_card_container > div:nth-of-type(2) {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;

    margin-left: 48px;
}

@media (max-width: 1199.99px) {
    .Product_card_container > div:nth-of-type(2) {
        margin-left: 28px;
    }
}

.Product_card_container > div:nth-of-type(2) > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767.99px) {
    .Product_card_container > div:nth-of-type(2) > div:first-of-type {
        display: none;
    }
}

.Product_card_container > div:nth-of-type(2) > h1 {
    margin-top: 48px;
}

@media (max-width: 767.99px) {
    .Product_card_container > div:nth-of-type(2) > h1 {
        display: none;
    }
}

.Product_price_container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 24px;
}

@media (max-width: 1579.99px) {
    .Product_price_container {
        width: 70%;
    }
}

@media (max-width: 767.99px) {
    .Product_price_container {
        width: 100%;
    }
}

.Product_price_container h3 {
    margin: 0;
}

.Product_price_container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

@media (max-width: 767.99px) {
    .Product_price_container > div {
        width: 20%;
    }
}

.Product_price_container > div > svg {
    color: #28a745;
}

.Product_details_container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 24px;
}

@media (max-width: 1579.98px) {
    .Product_details_container {
        width: 70%;
    }
}

@media (max-width: 1199.98px) {
    .Product_details_container {
        width: 90%;
    }
}

@media (max-width: 991.98px) {
    .Product_details_container {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .Product_details_container {
        flex-direction: column;
    }
}


.Product_details_container > * {
    width: 40%;
}

@media (max-width: 991.98px) {
    .Product_details_container > div:nth-of-type(2) {
        width: 50%;
    }
}

@media (max-width: 767.98px) {
    .Product_details_container > div {
        width: 100%!important;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;
    }
}

.Product_details_container select {
    border: 0;
    border-bottom: 1px solid #dee2e6;
    margin-top: 8px;
    width: 100%;
    color: grey;
    cursor: pointer;
}

@media (max-width: 767.98px) {
    .Product_details_container select {
        margin-top: 0;
        width: 40%;
    }
}

.Product_details_container select:focus {
    outline: none;
}

@media (max-width: 767.98px) {
    .Product_details_container > div:nth-of-type(2) > div {
        margin-left: 0;
        width: 40%;
        justify-content: space-between;
    }
}

.Product_wishlist_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 24px;
}

@media (max-width: 1579.99px) {
    .Product_wishlist_container {
        width: 70%;
    }
}

@media (max-width: 1199.99px) {
    .Product_wishlist_container {
        width: 90%;
    }
}

@media (max-width: 991.99px) {
    .Product_wishlist_container {
        width: 100%;
    }
}

.Product_wishlist_container > button {
    border: 0;
    height: 50px;
    border-radius: 4px;
    color: white;
}

.Product_wishlist_container > div:nth-of-type(2) {
    display: none;
}

@media (max-width: 767.98px) {
    .Product_wishlist_container > div:first-of-type {
        display: none;
    }

    .Product_wishlist_container > div:nth-of-type(2) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        width: 35%;
        height: 50px;
        border: 1px solid #dee2e6;
        padding-left: 5px;
        padding-right: 5px;

        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .Product_wishlist_container > button  {
        width: 60%;
    }

    .Product_wishlist_container > svg  {
        display: none;
    }
}

.Product_wishlist_container > button:focus {
    outline: none;
}

.Bag_button_green {
    background-color: #218838;
}

.Bag_button_green:hover {
    background-color: #32a34b;
}

.Bag_button_red {
    background-color: #c82333;
}

.Bag_button_red:hover {
    background-color: #e23a4b;
}

.Product_category_container {
    font-size: 12px;
    margin-top: 16px;
}

@media (max-width: 767.98px) {
    .Product_category_container {
        display: none;
    }
}

.Product_category_container span {
    font-weight: bold;
}

.Product_specifications_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 48px;
}

@media (max-width: 767.98px) {
    .Product_specifications_container {
        display: none;
    }
}

.Product_specifications_container > div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 16px;
}

@media (max-width: 1199.98px) {
    .Product_specifications_container > div:first-of-type {
        width: 60%;
    } 
}

.Product_specifications_container > div:first-of-type > div {
    display: flex;
    justify-content: space-between;
}

.Product_specifications_container > div:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Product_specifications_container > div:nth-of-type(2) > svg {
    margin-right: 24px;
}


.Wishlist_icon_alt {
    color: rgb(253, 91, 91);
    cursor: pointer;
}

.Cart_qtde_mobile {
    display: none;
}

@media (max-width:767.98px ) {
    .Cart_qtde_mobile {
        width: 100%;
        display: none;
        flex-direction: column;

        background-color: rgba(0, 0, 0, 0.616);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
    }


    .Cart_qtde_mobile > div  {
        width: 90%; 
        margin-left: 5%;
        background-color: #fff;
        position: absolute;
        top: calc(50% - 250px);
        overflow: visible;

        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .Cart_qtde_mobile > div > div  {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 50px;
        padding-right: 10px;
        padding-left: 10px;
        border-bottom: 1px solid #dee2e6;
    }

    .Cart_qtde_mobile > div > div:last-of-type {
        border: 0;
    }

    .Cart_qtde_mobile > div > div > label {
        margin: 0;
        color: rgba(20, 20, 20, 0.452);
    }
}