.Navigation_mobile_container {
    position: fixed;
    left: 0;
    top: 0;

    background-color: rgb(247, 247, 247);
    width: 50vw;
    height: 100vh;
    margin-left: -31px;
    z-index: 9999;
}

@media (max-width: 480px) {
    .Navigation_mobile_container {
        width: 80vw;
    }
}

@media (max-width: 360px) {
    .Navigation_mobile_container {
        width: 90vw;
    }
}

.Navigation_mobile_subContainer {
    position: relative;
    margin-left: 15%;
    margin-top: 5%;
}

.Navigation_mobile_list {
    flex-direction: column;
    width: 70%;
    margin-top: 40px;
}

@media (max-width: 480px) {
    .Navigation_mobile_list {
        font-size: 1.5em;
    }
}

.Navigation_mobile_list a {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    margin-bottom: 10px;
}

.Navigation_mobile_list svg {
    margin: 0;
}

.Navigation_mobile_submenu {
    overflow: hidden;
}

.Navigation_mobile_submenu > a:first-of-type {
    position: absolute;
    width: 70%;
    background-color: rgb(247, 247, 247);
    z-index: 9999;
}

.Navigation_mobile_submenu > ul {
    margin-left: 20px;
    margin-top: 30px;
}

.Navigation_mobile_contacts {
    margin-top: 50px;
    font-size: 12px;
}

@media (max-width:360px) {
    .Navigation_mobile_contacts {
        font-size: 1em;
    }
}

.Navigation_mobile_contacts > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.Navigation_mobile_contacts p,
.Navigation_mobile_contacts a {
    color: grey;
    margin-top: 0;
}

.Navigation_mobile_contacts > div:nth-of-type(2) > div {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 12px;
}

.Navigation_mobile_contacts > div:nth-of-type(2) > div svg {
    margin-left: 0;
    margin-top: 0;
}