.Footer_menu__wrapper {
   flex-basis: 33%;
   flex-shrink: 0;
}

@media (max-width: 991.98px) {
   .Footer_menu__wrapper {
      display: none;
   }
}

.Footer_menu__wrapper ul {
   list-style-type: none;
   padding: 0;
}

.Footer_menu {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   margin-top: 24px;
}

.Footer_menu ul li {
   cursor: pointer;
   margin-bottom: 10px;
}