
.Form_cart_container {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
    height: 350px;
}

@media (max-width: 768px) {
    .Form_cart_container {
        flex-direction: column;
        height: fit-content;
        margin-top: 40px;
    }
}

.Form_cart_container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33.33%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 0;
}

@media (max-width: 768px) {
    .Form_cart_container > div {
        padding: 0;
        margin-top: 20px;
    }

    .Form_cart_container > div:nth-of-type(2) > :nth-child(n+2):nth-child(-n+5) {
        height: 50px;
    }
}

.Form_cart_container > div:first-of-type {
    height: 70%;
    padding-right: 15px;
}

.Form_cart_container > div > p:first-of-type {
    font-weight: bold;
}

.Form_cart_container > div:nth-of-type(2) > select {
    border: 0;
    border-bottom: 1px solid #dee2e6;
}

.Form_cart_container > div:nth-of-type(2) > select:focus {
    outline: none;
}

.Form_cart_container > div:nth-of-type(3) {
    padding-right: 0;
    padding-left: 15px;
}

@media (max-width: 768px) {
    .Form_cart_container > div:nth-of-type(3) {
        padding-left: 0;
    }
}

.Form_cart_container > div:nth-of-type(3) > div {
    height: 75%;
    border: 1px solid #dee2e6;
}

@media (max-width: 768px) {
    .Form_cart_container > div:nth-of-type(3) > div > div p {
        margin: 0;
    }
}

.Cart_light_button:hover {
    background-color: rgb(235, 235, 235);
}

.Form_cart_container .cart-light_button,
.Form_cart_container .cart-dark_button {
    font-size: 12px;
}

input {
    border-bottom: 1px solid #dee2e6;
}