
.Form_cart_container {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
    height: 350px;
}

@media (max-width: 768px) {
    .Form_cart_container {
        flex-direction: column;
        height: fit-content;
        margin-top: 40px;
    }
}

.Form_cart_container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33.33%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 0;
}

@media (max-width: 768px) {
    .Form_cart_container > div {
        padding: 0;
        margin-top: 20px;
    }

    .Form_cart_container > div:nth-of-type(2) > :nth-child(n+2):nth-child(-n+5) {
        height: 50px;
    }
}

.Form_cart_container > div:first-of-type {
    height: 70%;
    padding-right: 15px;
}

.Form_cart_container > div > p:first-of-type {
    font-weight: bold;
}

.Form_cart_container > div:nth-of-type(2) > select {
    border: 0;
    border-bottom: 1px solid #dee2e6;
}

.Form_cart_container > div:nth-of-type(2) > select:focus {
    outline: none;
}

.Form_cart_container > div:nth-of-type(3) {
    padding-right: 0;
    padding-left: 15px;
}

@media (max-width: 768px) {
    .Form_cart_container > div:nth-of-type(3) {
        padding-left: 0;
    }
}

.Form_cart_container > div:nth-of-type(3) > div {
    height: 75%;
    border: 1px solid #dee2e6;
}

@media (max-width: 768px) {
    .Form_cart_container > div:nth-of-type(3) > div > div > * {
        height: 50px;
    }

    .Form_cart_container > div:nth-of-type(3) > div > div p {
        margin: 0;
    }
}

.Cart_light_button,
.Cart_dark_button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #3A3A3A;
    color: white;
    border: 1px solid #3A3A3A;
    height: 45px;
    width: 220px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    .Cart_light_button,
    .Cart_dark_button {
        margin-top: 20px;
    }
}

.Cart_light_button {
    background-color: white;
    color: #3A3A3A;
    width: 170px;
}

.Cart_light_button span,
.Cart_dark_button span {
    font-size: 12px;
}

.Cart_dark_button:hover {
    background-color: #4e4e4e;
}

.Cart_light_button:hover {
    background-color: rgb(235, 235, 235);
}

.Form_cart_price_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Form_cart_price_container > * {
    height: 33%;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Form_cart_container > div:nth-of-type(3) > .Cart_dark_button {
    width: 100%;
}

.Form_cart_price_container > :last-child {
    border: 0;
    font-weight: bold;
}

.Form_cart_price_container > * > :first-child {
    font-weight: bold;
}

.Form_cart_container .cart-light_button,
.Form_cart_container .cart-dark_button {
    font-size: 12px;
}

input {
    border-bottom: 1px solid #dee2e6;
}