.products-container {
    width: 75.8%;
    margin-left: 12.1%;
}

.products-description {
    height: 65px;
    margin-left: 10%;
}

.products-description p {
    margin: 0;
}

.bestDeal-passaSlide {
    width: 7%;
}

/* Fazer com que imagem fique quadrada. Baseado na resposta: https://stackoverflow.com/questions/23400232/force-bootstrap-responsive-image-to-be-square/23518465#23518465 */

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
}