.Session_container {
    height: auto;
    margin-bottom: 80px;
}

.Products_container {
    display: flex;
    width: 75.8%;
    margin-left: 12.1%;
    overflow: hidden;
}

.Products_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65px;
    margin-left: 10%;
}

.Products_description p {
    margin: 0;
}

.BestDeal_passSlide {
    width: 7%;
}

/* Fazer com que imagem fique quadrada. Baseado na resposta: https://stackoverflow.com/questions/23400232/force-bootstrap-responsive-image-to-be-square/23518465#23518465 */

.Deal_image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.Deal_image img{
    position:absolute;
}