.Session_container {
    height: auto;
    margin-bottom: 80px;
    margin-left: 12.1%;
    width: 75.8%;
}

@media (max-width: 1199.98px) {
    .Session_container {
        margin-left: 7.5%;
        width: 85%;
    }
}

.Session_container > h1 {
    text-align: center;
    margin-bottom: 48px;
    margin-top: 48px;
}

/* a {
    color: transparent;
}

a:hover {
    color: transparent;
} */

.Cart_container > * {
    max-width: 100%;
}

.Cart_container > div:first-of-type {
    display: flex;
    justify-content: space-between;
    color: #6c757d;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
    margin-left: -15px;
}

@media (max-width: 991.98px) {
    .Cart_container > div:first-of-type {
        display: none;
    }
} 

.Cart_container > div:first-of-type > p {
    padding-right: 15px;
    padding-left: 15px;
}

.Cart_container > div:first-of-type > p:first-of-type {
    flex-basis: 25%;
}

@media (max-width: 991.98px) {
    .Cart_container > div:first-of-type > p:first-of-type {
        flex-basis: 33.33%;
    }
} 

.Cart_container > div:first-of-type > p:nth-child(n+2):nth-child(-n+5) {
    text-align: center;
    flex-basis: 16.66%;
}

@media (max-width: 1199.98px) {
    .Cart_container > div:first-of-type > p:nth-of-type(2) {
        display: none;
    }

    .Cart_container > div:first-of-type > p:nth-child(n+2):nth-child(-n+5) {
        flex-basis: 22.22%;
    }
} 

@media (max-width: 991.98px) {
    .Cart_container > div:first-of-type > p:nth-of-type(3) {
        display: none;
    }
} 

.Cart_container > div:first-of-type > p:last-of-type {
    flex-basis: 8.33%;
}

.Cart_details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 16px;
    margin-left: -15px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

@media (max-width: 767.98px) {
    .Cart_details {
        flex-direction: column;
        align-items: unset;
    }

    .Cart_details > *:not(:first-of-type) {
        display: none;
    }
} 

.Cart_details p {
    margin-bottom: 0;
}

.Cart_details > * {
    padding-right: 15px;
    padding-left: 15px;
    flex-shrink: 0;
    flex-grow: 0;
}

.Cart_details > div:first-of-type {
    height: 80px;
    display: flex;
    align-items: center;
    flex-basis: 25%;
}

.Cart_details > div:first-of-type > svg {
    display: none;
}

@media (max-width: 767.98px) {
    .Cart_details > div:first-of-type {
        position: relative;
    }

    .Cart_details > div:first-of-type > svg {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.Cart_details > div:first-of-type > a {
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

@media (max-width: 1119.98px) {
    .Cart_details > div:first-of-type > a {
        margin-right: 10px;
    }
}

@media (max-width: 767.98px) {
    .Cart_details > div:first-of-type > a {
        margin-right: 40px;
    }
}

.Cart_details > div:first-of-type > a > img {
    max-width: 100%;
}

.Cart_details > div:first-of-type > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 4px;
}

.Cart_details > div:first-of-type > div > a {
    color: grey;
    text-decoration: none;
}

.Cart_details > div:first-of-type > div > p {
    font-weight: bold;
}

@media (max-width: 767.98px) {
    .Cart_details > div:first-of-type > div > p {
        font-size: 20px;
    }
}

.Cart_details_info {
    display: flex;
    font-size: 12px;
}

.Cart_details_info > div:nth-of-type(2) {
    margin-left: 16px;
}

.Cart_details_info > p:first-of-type {
    margin-bottom: 8px;
}

.Cart_details > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    flex-basis: 16.66%;
}

.Cart_details > p {
    flex-basis: 16.66%;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 1199.98px) {
    .Cart_details > p:nth-of-type(2) {
        display: none;
    }

    .Cart_details > div:nth-of-type(2),
    .Cart_details > p {
        flex-basis: 22.22%;
    }
} 

@media (max-width: 991.98px) {
    .Cart_details > p:first-of-type {
        display: none;
    }
} 

.Cart_details > p:last-of-type {
    flex-basis: 8.33%;
    
}

@media (max-width: 767.98px) {
    .Cart_details > div:nth-of-type(2) {
        display: none;
    }
} 

.Cart_container > div:nth-last-child(2) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    margin-top: 48px;
}

@media (max-width: 991.98px) {
    .Cart_container > div:nth-last-child(2) {
        margin-top: unset;
    }
} 

.Cart_delete_icon {
    color: rgba(255, 0, 0, 0.705);
    cursor: pointer;
}

.Cart_delete_icon:hover {
    color: red;
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
}

/* ** */


.Form_cart_container {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
    height: 350px;
}

@media (max-width: 991.98px) {
    .Form_cart_container {
        flex-direction: column;
        height: fit-content;
        margin-top: 40px;
    }
}

.Form_cart_container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33.33%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-left: 0;
}

@media (max-width: 991.98px) {
    .Form_cart_container > div {
        padding: 0;
        margin-top: 20px;
    }

    .Form_cart_container > div:nth-of-type(2) > :nth-child(n+2):nth-child(-n+5) {
        height: 50px;
    }
}

.Form_cart_container > div:first-of-type {
    height: 70%;
    padding-right: 15px;
}

.Form_cart_container > div > p:first-of-type {
    font-weight: bold;
}

.Form_cart_container > div:nth-of-type(2) > select {
    border: 0;
    border-bottom: 1px solid #dee2e6;
}

.Form_cart_container > div:nth-of-type(2) > select:focus {
    outline: none;
}

.Form_cart_container > div:nth-of-type(3) {
    padding-right: 0;
    padding-left: 15px;
}

@media (max-width: 991.98px) {
    .Form_cart_container > div:nth-of-type(3) {
        padding-left: 0;
    }
}

.Form_cart_container > div:nth-of-type(3) > div {
    height: 75%;
    border: 1px solid #dee2e6;
}

@media (max-width: 991.98px) {
    .Form_cart_container > div:nth-of-type(3) > div > div > * {
        height: 50px;
    }

    .Form_cart_container > div:nth-of-type(3) > div > div p {
        margin: 0;
    }
}

.Form_cart_price_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Form_cart_price_container > * {
    height: 33%;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Form_cart_container > div:nth-of-type(3) > .Cart_dark_button {
    width: 100%;
}

.Form_cart_price_container > :last-child {
    border: 0;
    font-weight: bold;
}

.Form_cart_price_container > * > :first-child {
    font-weight: bold;
}

.Form_cart_container .cart-light_button,
.Form_cart_container .cart-dark_button {
    font-size: 12px;
}

input {
    border-bottom: 1px solid #dee2e6;
}

/* BOTÕES */

.Cart_light_button,
.Cart_dark_button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #3A3A3A;
    color: white;
    border: 1px solid #3A3A3A;
    height: 45px;
    width: 220px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 991.98px) {
    .Cart_light_button,
    .Cart_dark_button {
        margin-top: 20px;
    }
}

.Cart_light_button {
    background-color: white;
    color: #3A3A3A;
    width: 170px;
}

.Cart_light_button span,
.Cart_dark_button span {
    font-size: 12px;
}

.Cart_dark_button:hover {
    background-color: #4e4e4e;
}

.Cart_light_button:hover {
    background-color: rgb(235, 235, 235);
}


/* ** */

.Cart_price_mobile {
    display: none;
}

@media (max-width: 767.98px) {
    .Cart_price_mobile {
        display: flex!important;
        justify-content: space-between;
        margin-top: 20px;
    }

    .Cart_price_mobile > div:first-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60px;
        height: 35px;
        border: 1px solid #dee2e6;
        padding-left: 5px;
        padding-right: 5px;

        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .Cart_qtde_mobile {
        width: 100%;
        display: none;
        flex-direction: column;

        background-color: rgba(0, 0, 0, 0.616);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
    }

    .Cart_qtde_mobile > div  {
        width: 90%; 
        margin-left: 5%;
        background-color: #fff;
        position: absolute;
        top: calc(50% - 250px);
        overflow: visible;

        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .Cart_qtde_mobile > div > div  {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 50px;
        padding-right: 10px;
        padding-left: 10px;
        border-bottom: 1px solid #dee2e6;
    }

    .Cart_qtde_mobile > div > div:last-of-type {
        border: 0;
    }

    .Cart_qtde_mobile > div > div > label {
        margin: 0;
        color: rgba(20, 20, 20, 0.452);
    }
} 
