.Session_container {
    height: auto;
    margin-bottom: 80px;
    margin-left: 12.1%;
    width: 75.8%;
    @media (max-width: 962px) {
        margin-left: 7.5%;
        width: 85%;
    }
    
    h1 {
        text-align: center;
        margin-bottom: 48px;
        margin-top: 48px;
    }
}

.Cart_light_button,
.Cart_dark_button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #3A3A3A;
    color: white;
    border: 1px solid #3A3A3A;
    height: 45px;
    width: 220px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    .Cart_light_button,
    .Cart_dark_button {
        margin-top: 20px;
    }
}

.Cart_light_button {
    background-color: white;
    color: #3A3A3A;
    width: 170px;
}

.Cart_light_button span,
.Cart_dark_button span {
    font-size: 12px;
}

.Cart_dark_button:hover {
    background-color: #4e4e4e;
}

.Cart_light_button:hover {
    background-color: rgb(235, 235, 235);
}


/* ** */