.Session_container {
    height: auto;
    margin-bottom: 80px;
    margin-left: 12.1%;
    width: 75.8%;
}

@media (max-width: 962px) {
    .Session_container {
        margin-left: 7.5%;
        width: 85%;
    }
}

.Session_container > h1 {
    text-align: center;
    margin-bottom: 48px;
    margin-top: 48px;
}

.Cart_container > * {
    max-width: 100%;
}

.Cart_header {
    display: flex;
    justify-content: space-between;
    color: #6c757d;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
}

@media (max-width: 768px) {
    .Cart_header {
        display: none;
    }
} 

.Cart_header > p {
    padding-right: 15px;
    padding-left: 15px;
}

.Cart_header > p:first-of-type {
    flex-basis: 25%;
}

@media (max-width: 768px) {
    .Cart_header > p:first-of-type {
        flex-basis: 33.33%;
    }
} 

.Cart_header > p:nth-child(n+2):nth-child(-n+5) {
    text-align: center;
    flex-basis: 16.66%;
}

@media (max-width: 992px) {
    .Cart_header > p:nth-of-type(2) {
        display: none;
    }

    .Cart_header > p:nth-child(n+2):nth-child(-n+5) {
        flex-basis: 22.22%;
    }
} 

@media (max-width: 768px) {
    .Cart_header > p:nth-of-type(3) {
        display: none;
    }
} 

.Cart_header > p:last-of-type {
    flex-basis: 8.33%;
}

.Cart_keepBuy_button {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    margin-top: 48px;
}

@media (max-width: 768px) {
    .Cart_keepBuy_button {
        margin-top: unset;
    }
} 

.Cart_light_button,
.Cart_dark_button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #3A3A3A;
    color: white;
    border: 1px solid #3A3A3A;
    height: 45px;
    width: 220px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 768px) {
    .Cart_light_button,
    .Cart_dark_button {
        margin-top: 20px;
    }
}

.Cart_light_button {
    background-color: white;
    color: #3A3A3A;
    width: 170px;
}

.Cart_light_button span,
.Cart_dark_button span {
    font-size: 12px;
}

.Cart_dark_button:hover {
    background-color: #4e4e4e;
}

.Cart_light_button:hover {
    background-color: rgb(235, 235, 235);
}


/* ** */