.Toastify_container {
   height: auto;
   width: 300px;
   background-color: orange;
   color: white;
   position: fixed;
   text-align: center;
   top: 10px;
   left: 5px;
   z-index: 9999;
   box-shadow: -10px 7px 5px 3px #5f6580;

   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;

   transition: 0.7s;
   -webkit-transition: 0.7s;
   -moz-transition: 0.7s;
   -ms-transition: 0.7s;
   -o-transition: 0.7s;
}

.Toastify_container h3 {
   color: #fff;
   margin-bottom: 0;
}

.Toastify_container p {
   color: #fff;
}