.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@media (max-width: 1579.98px) {
    .ReactModal__Content {
        width: 75% !important;
    }
}

@media (max-width: 1199.98px) {
    .ReactModal__Content {
        width: 90% !important;
    }
}