input {
    margin: 0;
}

.ProductInfo_container p {
    margin: 0;
}

.ProductInfo_container {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;

    margin-left: 48px;
    position: relative;
}

@media (max-width: 992px) {
    .ProductInfo_container {
        margin-left: 28px;
        
    }
}

@media (max-width: 360px) {
    .ProductInfo_container {
        margin-left: 0;
        
    }
}

.ProductInfo_container > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .ProductInfo_container > div:first-of-type {
        display: none;
    }
}

.ProductInfo_container > h1 {
    margin-top: 48px;
}

@media (max-width: 480px) {
    .ProductInfo_container > h1 {
        margin-top: 0;
        margin-bottom: 10px;
        text-align: start;
        font-size: 1.5em;
    }
}
.Product_price_container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 24px;
}

@media (max-width: 1366px) {
    .Product_price_container {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .Product_price_container {
        width: 100%;
    }
}

.Product_price_container h3 {
    margin: 0;
}

.Product_price_container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.Product_price_container > div > svg {
    color: #28a745;
}

.Product_details_container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 24px;
}

@media (max-width: 1366px) {
    .Product_details_container {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .Product_details_container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .Product_details_container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .Product_details_container {
        flex-direction: column;
    }
}

.Product_details_container > * {
    width: 35%;
}

@media (max-width: 480px) {
    .Product_details_container > div {
        width: 100%!important;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;
    }
}

.Product_details_container select {
    border: 0;
    border-bottom: 1px solid #dee2e6;
    margin-top: 8px;
    width: 100%;
    color: grey;
    cursor: pointer;
}

@media (max-width: 480px) {
    .Product_details_container select {
        margin-top: 0;
        width: 40%;
    }
}

.Product_details_container select:focus {
    outline: none;
}

@media (max-width: 768px) {
    .ProductPage_colors {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .ProductPage_colors > div {
        margin-left: 0;
        width: 40%;
        justify-content: space-between;
    }
}

@media (max-width: 360px) {
    .ProductPage_colors > div {
        width: 80%;
    }
}

.Product_wishlist_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 24px;
}

@media (max-width: 1366px) {
    .Product_wishlist_container {
        width: 70%;
    }
}

@media (max-width: 992px) {
    .Product_wishlist_container {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .Product_wishlist_container {
        width: 100%;
    }
}

.Product_wishlist_container > button {
    border: 0;
    height: 50px;
    width: 50%;
    border-radius: 4px;
    color: white;
}

@media (max-width: 480px) {
    .Product_wishlist_container > div:first-of-type {
        display: none;
    }

    .Product_wishlist_container > button  {
        width: 60%;
    }

    .Product_wishlist_container > svg  {
        display: none;
    }
}

.Product_wishlist_container > button:focus {
    outline: none;
}

.Bag_button_green {
    background-color: #218838;
}

.Bag_button_green:hover {
    background-color: #32a34b;
}

.Bag_button_red {
    background-color: #c82333;
}

.Bag_button_red:hover {
    background-color: #e23a4b;
}

.Bag_button_orange{
    background-color: rgb(255, 94, 0);
}

.Bag_button_orange:hover {
    background-color: rgba(255, 135, 23, 0.966)
}

.Product_category_container {
    font-size: 12px;
    margin-top: 16px;
}

@media (max-width: 480px) {
    .Product_category_container {
        display: none;
    }
}

.Product_category_container span {
    font-weight: bold;
}

.Product_specifications_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    position: absolute;
    right: 0;
    bottom: 24%;
}

@media (max-width: 1366px) {
    .Product_specifications_container {
        bottom: 10%;
    }
}

@media (max-width: 992px) {
    .Product_specifications_container {
        display: none;
    }
}

.Product_specifications_container > div:first-of-type {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 16px;
}

@media (max-width: 992px) {
    .Product_specifications_container > div:first-of-type {
        width: 60%;
    } 
}

.Product_specifications_container > div:first-of-type > div {
    display: flex;
    justify-content: space-between;
}

.Product_specifications_container > div:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Product_specifications_container > div:nth-of-type(2) > svg {
    margin-right: 24px;
}


.Wishlist_icon_alt {
    color: rgb(253, 91, 91);
    cursor: pointer;
}