<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /made-for-you
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /made-for-you/index.html [L]
</IfModule>

