.Session_container {
   height: auto;
   margin-bottom: 80px;
}

.Discounts_container {
   display: flex;
   justify-content: center;
   height: 650px;
}

@media (max-width: 991.98px) {
   .Discounts_container {
      flex-direction: column;
      align-items: center;
      height: fit-content;
   }
}

.Discounts_container>div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0;
   max-width: 40%;
}

@media (max-width: 991.98px) {
   .Discounts_container>div>* {
      margin-bottom: 20px;
   }
}

.Discounts_container>div:first-of-type h1 {
   text-align: unset;
   margin-bottom: unset;
   margin-top: unset;
}

.Discounts_container>div:first-of-type h1:first-of-type {
   display: none;
}

@media (max-width: 1579.98px) {
   .Discounts_container>div:first-of-type {
      max-width: 50%;
   }
}

@media (max-width: 991.98px) {
   .Discounts_container>div:first-of-type {
      max-width: 78%;
      margin-left: 8%;
   }

   .Discounts_container>div:first-of-type>div {
      max-width: 95%;
   }

   .Discounts_container>div:first-of-type h1 {
      display: none;
   }

   .Discounts_container>div:first-of-type h1:first-of-type {
      display: inline;
      font-size: 2rem;
   }
}

@media (max-width: 767.98px) {
   .Discounts_container>div:first-of-type {
      max-width: 89%;
      margin-left: 9%;
   }

   .Discounts_container>div:first-of-type>div {
      max-width: 90%;
   }
}

.Discounts_container>div:first-of-type {
   padding-right: 16px;
}

.Discounts_container>div:nth-of-type(2) {
   max-width: 34%;
}

@media (max-width: 1579.98px) {
   .Discounts_container>div:nth-of-type(2) {
      max-width: 45%;
   }
}

@media (max-width: 991.98px) {
   .Discounts_container>div:nth-of-type(2) {
      max-width: 70%;
   }
}

@media (max-width: 767.98px) {
   .Discounts_container>div:nth-of-type(2) {
      max-width: 80%;
      margin-left: -5px;
   }
}

@media (max-width: 413px) {
   .Discounts_container>div:nth-of-type(2) {
      max-width: 288px;
      margin-left: -6px;
   }
}

.Discounts_container>div:nth-of-type(2)>div {
   border: 1px solid #dee2e6;
}

.Discounts_container>div:nth-of-type(2)>div>div {
   padding: 48px;
}

.Discounts_container>div:nth-of-type(2)>div>div h3 {
   margin-bottom: 24px;
}

.Discounts_container>div p {
   margin: 0;
   line-height: 2;
}

@media (max-width: 1579.98px) {
   .Discounts_container>div>img {
      max-width: 100%;
   }
}

.Discounts_container>div input {
   border: 0;
   outline: 0;
   background: transparent;
   border-bottom: 1px solid #dee2e6;

   margin-top: 24px;
}