/* .discounts-quadros-container-1 {
    width: 680px;
} */

/* .discounts-quadros-container-2 {
    width: 520px;
} */

.Session_container {
    height: auto;
    margin-bottom: 80px;
}

.Discounts_container {
    display: flex;
    justify-content: center;
    height: 650px;
}

.Discounts_quadros_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.Discounts_quadros_container p {
    margin: 0;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;

    margin-top: 24px;
}

.Discounts_icons_container {
    display: flex;
    justify-content: space-between;
    width: 74%;
    margin-left: 13%;
    margin-top: 80px;
}

.Discounts_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Discounts_icons h6 {
    margin-bottom: 0;
    margin-top: 30px;
}

.Discounts_icons p {
    margin: 0;
}

.Plane_icon {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}