.ProgressBar_container {
   display: flex;
   justify-content: space-between;
}

.Circle_progress {
   fill: none;
   stroke: rgb(151, 151, 151);
   stroke-linecap: butt;
   stroke-linejoin: butt;
}

.Circle_center {
   stroke: black;
   stroke-width: 2;
   fill: black;
}