.ProductCard_container {
   position: relative;
   border: 1px solid #dee2e6
}

.Products_img_container {
   display: flex;
   align-items: center;

   height: 359px;
   background-color: #F6F6F6;
}

@media (max-width: 480px) {
   .Products_img_container {
      height: 250px;
   }
}

@media (max-width: 360px) {
   .Products_img_container {
      height: 200px;
   }
}

.Products_img_container>img {
   max-width: 100%;
}

.Wishlist_icon_heart {
   position: absolute;
   right: 0;
   right: 15px;
   top: 10px;
   color: red;
   cursor: pointer;
}

@media (max-width:480px) {
   .Wishlist_icon_heart {
      right: 10px;
      top: 5px;
   }
}

.Wishlist_icon_heart:hover {
   color: rgb(253, 91, 91);
}

.Wishlist_icon_bag {
   color: #ccc;
   cursor: pointer;
}

.Wishlist_icon_bag:hover {
   color: rgba(0, 128, 0, 0.39);
}

.Wishlist_icon_bag_selected {
   color: green;
}

.Wishlist_icon_bag_selected:hover {
   color: rgba(0, 128, 0, 0.616);
}