.Change_slide_arrows {
   display: flex;
   justify-content: space-between;
   width: 12%;
   line-height: 2;
   position: absolute;
   bottom: 0;

   font-size: 25px;
   right: 50px;
}

@media (max-width: 1366px) {
   .Change_slide_arrows {
      width: 15%;
      right: 20px;
   }
}

@media (max-width: 768px) {
   .Change_slide_arrows {
      display: none;
   }
}

.Change_slide_arrows>* {
   cursor: pointer;
}