.MainSlider_subContainer {
   display: flex;
   justify-content: flex-start;

   transition: all 0.8s;
   -webkit-transition: all 0.8s;
   -moz-transition: all 0.8s;
   -ms-transition: all 0.8s;
   -o-transition: all 0.8s;
}

.MainSlider_subContainer>div {
   width: 100%;
   /* position: relative; */
   flex-shrink: 0;
}

.MainSlider_subContainer img {
   max-width: 100%;
}

.MainSlider_subContainer>div>div {
   position: absolute;
   background-color: white;
   width: 50%;
   height: 70px;
   bottom: 0;
}

@media (max-width: 1366px) {
   .MainSlider_subContainer>div>div {
      position: absolute;
      width: 100%;
      bottom: 20px;
      background-color: rgba(255, 255, 255, 0.733);
   }
}

@media (max-width: 768px) {
   .MainSlider_subContainer>div>div {
      bottom: 50px;
   }
}

@media (max-width: 480px) {
   .MainSlider_subContainer>div>div {
      bottom: 20px;
   }
}

.MainSlider_subContainer>div>div>* {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   height: 100%;
   width: 100%;
   padding-left: 25px;
   text-decoration: none;
}

.MainSlider_subContainer>div>div p {
   margin: 0;
   color: rgb(75, 75, 75);
}