.Products_show_container {
	display: flex;
	justify-content: space-between;
	width: 40%;
	margin-left: 30%;
}
.Products_show_subContainer {
	margin-top: 50px;
	text-align: center;
	>div {
		>button {
			width: 131px;
			height: 131px;
			margin: auto;
			background-color: #fff;
			color: #3A3A3A;
			cursor: pointer;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			&:focus {
				outline: none;
			}
			&:disabled {
				border: solid 1px rgb(170, 169, 169);
				color: rgb(179, 179, 179);
				cursor: default;
			}
		}
	}
	&:first-of-type {
		>div {
			>button {
				border: solid 1px #28a745;
			}
		}
	}
	&:nth-of-type(2) {
		>div {
			>button {
				border: solid 1px #dc3545;
			}
		}
	}
}
@media (max-width: 768px) {
	.Products_show_container {
		width: 60%;
		margin-left: 20%;
	}
}
@media (max-width: 480px) {
	.Products_show_container {
		width: 70%;
		margin-left: 15%;
	}
	.Products_show_subContainer {
		margin-top: 30px;
		>div {
			>button {
				width: 100px;
				height: 100px;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1599px) {
	.Products_show_subContainer {
		width: 60%;
		margin-top: 15px;
		>div {
			>button {
				width: 100px;
				height: 100px;
			}
		}
	}
}
