@media (min-width:481px) {
   .ProductQtde_mobile_container {
      display: none;
   }
}

.ProductQtde_mobile_container {
   width: 35%;
}

.OpenSelect_btn {
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 20px;
   height: 50px;
   border: 1px solid #dee2e6;
   padding-left: 5px;
   padding-right: 5px;
   box-sizing: border-box;

   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}