.Products_container {
	display: flex;
	width: 100%;
	margin-bottom: 48px;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;

	a {
		text-decoration: none;
	}
}

.Products_subContainer {
	flex-basis: 24%;
	flex-shrink: 0;
	flex-grow: 0;
	padding-left: 0.5%;
	padding-right: 0.5%;

	>div {
		border: 1px solid #dee2e6;
	}
}

.Deal_image {
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
	background-color: #F6F6F6;

	img {
		position: absolute;
		max-width: 100%;
	}
}

.Products_description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 65px;
	margin-left: 10%;

	p {
		margin: 0;
	}
}

@media (max-width: 992px) {
	.Products_subContainer {
		flex-basis: 32.3%;
	}
}

@media (max-width: 768px) {
	.Products_subContainer {
		flex-basis: 48%;
		padding-left: 1%;
		padding-right: 1%;
		transition: 1s ease-in-out;
		-webkit-transition: 1s ease-in-out;
		-moz-transition: 1s ease-in-out;
		-ms-transition: 1s ease-in-out;
		-o-transition: 1s ease-in-out;
	}
}

@media (max-width: 480px) {
	.Products_subContainer {
		flex-basis: 98%;
	}
}