.Header_container {
    display: flex;
}

@media (max-width: 1199.98px) {
    .Header_container {
        width: 95%;
    }
}

@media (max-width: 991.98px) {
    .Header_container {
        /* width: unset; */
        /* flex-direction: column; */
        /* margin-right: 0; */
        margin-left: 2.5%;
        margin-bottom: 50px;
    }
}

.MinorSlider_container {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    flex-shrink: 0;
}

@media (max-width: 991.98px) {
    .MinorSlider_container {
        flex-basis: 30%;
        display: none;
    }
}

/* @media (max-width: 767.98px) {
    .MinorSlider_container {
        flex-direction: column;
    }
} */

.MinorSlider_container > div:first-of-type {
    width: 25%;
}

.MinorSlider_container > div:last-of-type {
    width: 40%;
}

@media (max-width: 991.98px) {
    .MinorSlider_container > div:not(:nth-of-type(2)) {
        display: none;
    }

    .MinorSlider_container > div:nth-of-type(2) > div {
        /* display: none; */
    }
}

.MinorSlider_container a > p:first-of-type {
    font-weight: bold;
}

.MinorSlider_subContainer {
    height: 65%;
    width: 50%;
    background-color: #ccc;
}

@media (max-width: 1579px) {
    .MinorSlider_subContainer {
        height: 75%;
    }
}

@media (max-width: 991.98px) {
    .MinorSlider_subContainer {
        width: 100%;
    }
}

.MinorSlider_subContainer img {
    max-width: 100%;
}

.MinorSlider_subContainer div {
    position: relative;
    background-color: white;
    width: 100%;
    height: 65px;
}

/* @media (max-width: 767.98px) {
    .MinorSlider_subContainer > div {
        display: none;
    }
} */

.MinorSlider_subContainer div > *{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
    padding-left: 25px;
    text-decoration: none;
}

.MinorSlider_subContainer div p {
    margin: 0;
    color: rgb(75, 75, 75);
}

.MainSlider_container {
    height: 700px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

@media (max-width: 1579.98px) {
    .MainSlider_container {
        height: 500px;
    }
}

@media (max-width: 1199.98px) {
    .MainSlider_container {
        height: 400px;
    }
}

@media (max-width: 991.98px) {
    .MainSlider_container {
        height: unset;
        /* margin-left: 20px; */
    }
}

.MainSlider_container a > p:first-of-type {
    font-weight: bold;
}

.MainSlider_subContainer {
    /* height: 90%; */
    display: flex;
    transition: .8s ease-in-out;
    -webkit-transition: .8s ease-in-out;
    -moz-transition: .8s ease-in-out;
    -ms-transition: .8s ease-in-out;
    -o-transition: .8s ease-in-out;
}

.MainSlider_subContainer > div {
    width: 100%;
    position: relative;
    flex-shrink: 0;
}
                
.MainSlider_subContainer img {
    /* height: 100%; */
    max-width: 100%;
}

.MainSlider_subContainer > div > div {
    position: absolute;
    background-color: white;
    width: 50%;
    height: 70px;
    bottom: 0;
}

@media (max-width: 1199.98px) {
    .MainSlider_subContainer > div > div {
        position: absolute;
        width: 100%;
        bottom: 20px;
        background-color: rgba(255, 255, 255, 0.733);
    }
}

/* @media (max-width: 767.98px) {
    .MainSlider_subContainer > div > div {
        display: none;
    }
} */

.MainSlider_subContainer > div > div > * {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
    width: 100%;
    padding-left: 25px;
    text-decoration: none;
}

.MainSlider_subContainer > div > div p {
    margin: 0;
    color: rgb(75, 75, 75);
}

.Change_slide_arrows {
    display: flex;
    justify-content: space-between;
    width: 12%;
    /* margin-left: 86%;
    margin-top: 15px; */
    line-height: 2;
    position: absolute;
    bottom: 0;
    
    font-size: 25px;
    right: 50px;
}

@media (max-width: 1579px) {
    .Change_slide_arrows {
        width: 12%;
        right: 10px;
    }
}

@media (max-width: 991.98px) {
    .Change_slide_arrows {
        display: none;
    }
}

.Change_slide_arrows > * {
    cursor: pointer;
}

.Header_text {
    width: 93%;
    /* margin: -470px 0 350px 3.5%; */
    position: absolute;
    top: 300px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}

@media (max-width: 1579px) {
    .Header_text {
        top: 200px;
    }
}

@media (max-width: 1199.98px) {
    .Header_text {
        left: 25px;
    }
}

@media (max-width: 991.98px) {
    .Header_text {
        display: none; /* REMOVIDO PARA TESTE */
    }
}

.Header_title {
    font-size: 100px;
    font-weight: bold;
    line-height: 70px;
    /* margin-left: 80px; */
}

@media (max-width: 1579.98px) {
    .Header_title {
        font-size: 80px;
    }
}

@media (max-width: 1199.98px) {
    .Header_title {
        font-size: 70px;
    }
}

.Icons_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 991.98px) {
    .Icons_container {
        display: none;
    }
}

.Icons_container * {
    margin-bottom: 14px;
}