.header-text {
    /* height: 650px; */
    width: 93%;
    margin: -470px 0 350px 3.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-title {
    font-size: 100px;
    font-weight: bold;
    line-height: 70px;
    margin-left: 80px;
}

.icones {
    margin-bottom: 14px;
}

.change-slide-setas {
    width: 8%;
    margin-left: 86%;
    margin-top: 15px;
    line-height: 2;
}

.change-slide-setas > * {
    cursor: pointer;
}

.mainSlider-container {
    height: 90%;
    max-width: 100%;
}

.mainSlider-container img {
    height: 100%;
    max-width: 100%;
}

.mainSlider-container div {
    position: relative;
    background-color: white;
    width: 50%;
    height: 70px;
    margin-top: -70px;
}

.mainSlider-container div > * {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;
    width: 100%;
    padding-left: 25px;
    text-decoration: none;
}

.mainSlider-container div p {
    margin: 0;
    color: rgb(75, 75, 75);
}

.minorSlider-container {
    height: 65%;
    width: 50%;
}

.minorSlider-container img {
    height: 100%;
    width: 100%;
}

.minorSlider-container div {
    position: relative;
    background-color: white;
    width: 100%;
    height: 65px;
    margin-top: -140px;
}

.minorSlider-container div > *{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
    padding-left: 25px;
    text-decoration: none;
}

.minorSlider-container div p {
    margin: 0;
    color: rgb(75, 75, 75);
}