.header-text {
    /* height: 650px; */
    width: 93%;
    margin: -470px 0 350px 3.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-title {
    font-size: 100px;
    font-weight: bold;
    line-height: 70px;
    margin-left: 80px;
}

.icones {
    margin-bottom: 14px;
}

.change-slide-setas {
    width: 8%;
    margin-left: 86%;
    margin-top: 15px;
    line-height: 2;
}

.change-slide-setas > * {
    cursor: pointer;
}