.Session_container {
    height: auto;
    margin-bottom: 80px;
}

.Footer_container {
    width: 75%;
    margin-left: 12.5%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.Footer_menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Footer_menu ul li {
    cursor: pointer;
    margin-bottom: 10px;
}

.Footer_staySocial_icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.SubFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SubFooter p {
    margin: 0;
}

.Footer_cards_icons > * {
    padding-left: 40px;
}