.Product_page_container {
    display: flex;
    width: 78%;
    margin-left: 11%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 992px) {
    .Product_page_container {
        width: 85%;
        margin-left: 7.5%;
    }
}

@media (max-width: 768px) {
    .Product_page_container {
        width: 96%;
        padding-right: 0;
        margin: 0;
        box-sizing: border-box;

        position: relative;
    }
}

@media (max-width: 480px) {
    .Product_page_container {
        flex-direction: column;
    }
}
