/* .products-container {
    width: 75.8%;
    margin-left: 12.1%;
} */

.wishlist-icon {
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 10px;
    color: rgb(253, 91, 91);
    cursor: pointer;
}

.wishlist-icon:hover {
    color: red;
}

.products-description {
    height: 75px;
    width: 80%;
    margin-left: 10%;
}

.products-description-icons{
    width: 30%;
}

.products-description-icons > * {
    cursor: pointer;
}

.products-description-icons p {
    margin: 0;
}

.products-show-container {
    width: 40%;
    margin-left: 30%;
}

.products-show {
    margin-top: 50px;
    text-align: center;
    
}

.products-show-text button {
    width: 131px;
    height: 131px;
    margin: auto;
    color: #3A3A3A;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.products-show-text button:focus {
    outline: none;
}