.Products_container {
   width: 75%;
   margin-left: 12.5%;
   margin-bottom: 50px;

}

@media (max-width: 1366px) {
   .Products_container {
      width: 90%;
      margin-left: 5%;
   }
}

.Products_container > h1 {
   text-align: center;
}