.Products_container {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 50px;
}

@media (max-width: 1199.98px) {
    .Products_container {
        width: 90%;
        margin-left: 5%;
    }
}

.Products_container > h1 {
    text-align: center;
}

.Products_subContainer {
    display: flex;
    flex-wrap: wrap;
}

.Products_subContainer > div {
    flex-basis: 25%;
    flex-shrink: 0;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 24px;
    position: relative;
}

@media (max-width: 1579.98px) {
    .Products_subContainer > div {
        flex-basis: 33%;
    }
}

@media (max-width: 991.98px) {
    .Products_subContainer > div {
        flex-basis: 50%;
    }
}

.Products_subContainer > div > div {
    border: 1px solid #dee2e6
}

.Products_img_container {
    display: flex;
    align-items: center;

    height: 359px;
    background-color: #F6F6F6;
}

@media (max-width: 767.98px) {
    .Products_img_container {
        height: 300px;
    }
}

.Products_img_container > img {
    max-width: 100%;
}

.Products_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 80%;
    margin-left: 10%;
}

.Products_description > div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
}

.Products_description > div:first-of-type > a {
    color: grey;
    text-decoration: none;
}

.Products_description > div:first-of-type > p {
    margin-bottom: 0;
}

.Products_description > div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.Products_description > div:nth-of-type(2) > * {
    cursor: pointer;
}

.Products_description > div:nth-of-type(2) > p {
    margin: 0;
}

.Products_description > div:nth-of-type(2) > svg:first-of-type {
    color: grey;
}

.Products_description > div:nth-of-type(2) > svg:first-of-type:hover {
    color: rgb(0, 153, 255);
}

.Wishlist_icon_heart {
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 10px;
    color: red;
    cursor: pointer;
}

.Wishlist_icon_heart:hover {
    color: rgb(253, 91, 91);
}

.Wishlist_icon_bag {
    color: #ccc;
    cursor: pointer;
}

.Wishlist_icon_bag:hover {
    color: rgba(0, 128, 0, 0.39);
}

.Wishlist_icon_bag_selected {
    color: green;
}

.Wishlist_icon_bag_selected:hover {
    color: rgba(0, 128, 0, 0.616);
}

.Products_show_container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 30%;
}

@media (max-width: 991.98px) {
    .Products_show_container {
        width: 60%;
        margin-left: 20%;
    }
}

.Products_show_subContainer{
    margin-top: 50px;
    text-align: center;
    
}

.Products_show_subContainer > div > button {
    width: 131px;
    height: 131px;
    margin: auto;
    background-color: #fff;
    color: #3A3A3A;
    cursor: pointer;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Products_show_subContainer:first-of-type  > div> button {
    border: solid 1px #28a745;
}

.Products_show_subContainer:nth-of-type(2) > div > button {
    border: solid 1px #dc3545;
}

.Products_show_subContainer > div > button:focus {
    outline: none;
}

.Products_show_subContainer > div > button:disabled {
    border: solid 1px rgb(170, 169, 169);
    color: rgb(179, 179, 179);
    cursor: default;
}