.Products_container {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 50px;
   
}

@media (max-width: 1199.98px) {
    .Products_container {
        width: 90%;
        margin-left: 5%;
    }
}

.Products_container > h1 {
    text-align: center;
}

.Products_subContainer {
    display: flex;
    flex-wrap: wrap;
}

.Products_show_container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 30%;
}

@media (max-width: 768px) {
    .Products_show_container {
        width: 60%;
        margin-left: 20%;
    }
}

@media (max-width: 480px) {
    .Products_show_container {
        width: 70%;
        margin-left: 15%;
    }
}

.Products_show_subContainer{
    margin-top: 50px;
    text-align: center;
}

@media (max-width: 480px) {
    .Products_show_subContainer {
        margin-top: 30px;
    }
}

.Products_show_subContainer > div > button {
    width: 131px;
    height: 131px;
    margin: auto;
    background-color: #fff;
    color: #3A3A3A;
    cursor: pointer;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media (max-width: 480px) {
    .Products_show_subContainer > div > button {
        width: 100px;
        height: 100px;
    }
}

.Products_show_subContainer:first-of-type  > div> button {
    border: solid 1px #28a745;
}

.Products_show_subContainer:nth-of-type(2) > div > button {
    border: solid 1px #dc3545;
}

.Products_show_subContainer > div > button:focus {
    outline: none;
}

.Products_show_subContainer > div > button:disabled {
    border: solid 1px rgb(170, 169, 169);
    color: rgb(179, 179, 179);
    cursor: default;
}