.Session_container {
	height: auto;
	margin-bottom: 80px;
	width: 88%;
	margin-left: 6%;
	overflow: hidden;
	>h1 {
		text-align: center;
	}
}
.ShoppingByRoom_container {
	max-height: 990px;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 0.5fr 1fr;
	gap: 1px 5px;
	grid-template-areas: "image1 image2" "image3 image2" "image3 image4";
	img {
		max-width: 600px;
	}
	>a {
		overflow: hidden;
		img {
			max-width: 100%;
			transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
			transition: transform 0.6s ease-in-out;
			-webkit-transition: transform 0.6s ease-in-out;
			-moz-transition: transform 0.6s ease-in-out;
			-ms-transition: transform 0.6s ease-in-out;
			-o-transition: transform 0.6s ease-in-out;
			&:hover {
				transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
				-o-transform: scale(1.1);
				transition: transform 0.6s ease-in-out;
				-webkit-transition: transform 0.6s ease-in-out;
				-moz-transition: transform 0.6s ease-in-out;
				-ms-transition: transform 0.6s ease-in-out;
				-o-transition: transform 0.6s ease-in-out;
			}
		}
	}
}
.ShoppingByRoom_image1 {
	grid-area: image1;
}
.ShoppingByRoom_image2 {
	grid-area: image2;
}
.ShoppingByRoom_image3 {
	grid-area: image3;
}
.ShoppingByRoom_image4 {
	grid-area: image4;
}
@media (max-width: 767px) {
	.ShoppingByRoom_container {
		display: block;
		max-height: unset;
	}
}
