.Session_container {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 80px;
}

.Session_container > div {
    width: 50%;
}

@media (max-width:768px) {
    .Session_container {
        flex-direction: column;
    }
    
    .Session_container > div {
        width: 100%;
    }

    .Session_container > div:first-of-type {
        order: 1;
    }
}

.Session_container > div:first-of-type > img {
    max-width: 100%;
}

@media (max-width:992px) {
    .Session_container > div:first-of-type > img {
        margin-top: 20%;
    }
}

.UserForm_container {
    height: 600px;
}

.UserForm_subContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    height: 80%;
    margin-top: 5%;

}

@media (max-width:768px) {
    .UserForm_subContainer {
        width: 90%;
        margin-left: 5%;
    }
}

.UserForm_subContainer > * {
    width: 100%;
}

.UserForm_subContainer h3 {
    text-align: center;
}

.UserForm_subContainer label {
    margin-bottom: 0;
    margin-left: 2%;
}

.Account_access_btn,
.UserForm_subContainer input {
    width: 100%;
    height: 35px;
    border: 1px solid grey;
    padding-left: 10px;
    box-sizing: border-box;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.Account_access_btn {
    background-color: grey;
    color: white;
    cursor: pointer;
    padding-top : 6px;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.Account_access_btn:hover {
    background-color: rgb(100, 100, 100);
}

.UserForm_caption {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.UserForm_caption > p {
    flex-basis: 40%;
    text-align: center;
}

.UserForm_caption > span {
    flex-basis: 30%;
    width: 100%;
    height: 1px;
    background-color: grey;
}

.Form_icons_container {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:768px) {
    .Form_icons_container {
        width: 30%;
    }
}

@media (max-width:480px) {
    .Form_icons_container {
        width: 40%;
    }
}

.Form_icons_container > div {
    width: 45px;
    height: 45px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width:480px) {
    .Form_icons_container > div {
        width: 35px;
        height: 35px;
    }
}

.UserForm_subContainer > a {
    text-decoration: none;
}

.UserForm_subContainer > a > p {
    text-align: center;
    cursor: pointer;
}

.UserForm_subContainer > a > p:hover {
    text-decoration: underline;
}
