.Filter_container {
    width: 76%;
    margin-left: 12%;
    margin-bottom: 80px;

    overflow: hidden;
}

@media (max-width: 992px) {
    .Filter_container {
        width: 86%;
        margin-left: 7%;
    }
}

@media (max-width: 360px) {
    .Filter_container {
        width: 96%;
        margin-left: 2%;
    }
}

.Filter_container > div:nth-of-type(2) {
    /* overflow: hidden; */
    /* display: none; */
}

.Filter_subContainer p {
    cursor: pointer;
}

h6 {
    margin-bottom: 20px;
}

.Selected {
    font-weight: bold;
}

.Not_Selected {
    font-weight: normal;
}