.Filter_container {
    width: 76%;
    margin-left: 12%;
    margin-bottom: 80px;
}

.Filter_container > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.Filter_container > div:nth-of-type(2) {
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;
}

.Filter_toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 50px;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

.Filter_toggle p {
    margin: 0;
}

.Filter_sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.Filter_sort p {
    margin: 0;
}

.Filter_sort > select {
    border: 0;
    border-bottom: 1px solid #dee2e6;
    color: grey;
    cursor: pointer;
}

.Filter_sort > select:focus {
    outline: none;
}

.Filter_subContainer p {
    cursor: pointer;
}

.Filter_subContainer > div:first-of-type {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;
}

.Filter_subContainer > div:first-of-type > div:nth-of-type(even) {
    background-color: #ccc;
    width: 1px;
}

.Filter_subContainer > div:first-of-type > div:nth-of-type(7) {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;
}

.Filter_subContainer > div:first-of-type > div p:first-of-type {
    font-weight: bold;
}

.Filter_subContainer > div:first-of-type label {
    margin-left: 8px;
}



/* ** */

h6 {
    margin-bottom: 20px;
}


/* ** */


.Filter_subContainer > div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    width: 36%;
}

.Filter_button {
    background-color: white;
    color: #3A3A3A;
    border: 1px solid #3A3A3A;
    text-align: center;
    height: 45px;
    width: 200px;
    padding-top: 10px;
    cursor: pointer;
}

.Filter_button:hover {
    background-color: rgb(235, 235, 235);
}

.Filter_button_active {
    background-color: #3A3A3A;
    color: white;
}

.Filter_button_active:hover {
    background-color: #4e4e4e;
}

