.Filter_container {
    width: 76%;
    margin-left: 12%;
    margin-bottom: 80px;
}

@media (max-width: 1199.98px) {
    .Filter_container {
        width: 86%;
        margin-left: 7%;
    }
}

.Filter_container > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

.Filter_toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 50px;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

@media (max-width: 1199.98px) {
    .Filter_toggle {
        width: 20%;
    }
}

@media (max-width: 991.98px) {
    .Filter_toggle {
        width: 30%;
    }
}

@media (max-width: 767.98px) {
    .Filter_toggle {
        width: 100%;
        justify-content: space-evenly;
        padding-left: 30%;
        padding-right: 30%;
    }
}

.Filter_toggle p {
    margin: 0;
}

.Filter_sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

@media (max-width: 1579.98px) {
    .Filter_sort {
        width: 30%;
    }
}

@media (max-width: 991.98px) {
    .Filter_sort {
        width: 40%;
    }
}

@media (max-width: 767.98px) {
    .Filter_sort {
        display: none;
    }
}

.Filter_sort p {
    margin: 0;
}

.Filter_sort > select {
    border: 0;
    border-bottom: 1px solid #dee2e6;
    color: grey;
    cursor: pointer;
}

.Filter_sort > select:focus {
    outline: none;
}

.Filter_subContainer p {
    cursor: pointer;
}

.Filter_subContainer > div:first-of-type {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;

    flex-wrap: wrap;
}

@media (max-width: 991.98px) {
    .Filter_subContainer > div:first-of-type {
        flex-wrap: wrap;
    }
}

.Filter_subContainer > div:first-of-type > div:nth-of-type(even) {
    background-color: #ccc;
    width: 1px;
}

@media (max-width: 991.98px) {
    .Filter_subContainer > div:first-of-type > div:nth-of-type(even) {
        margin-bottom: 20px;
    }

    .Filter_subContainer > div:first-of-type > div:nth-of-type(4) {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .Filter_subContainer > div:first-of-type > div:nth-last-child(2) {
        display: none;
    }

    .Filter_subContainer > div:first-of-type > div:last-of-type {
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: 30px;
    }
}

@media (max-width: 991.98px) {
    .Filter_subContainer > div:first-of-type > div:last-of-type {
        margin-left: 25%;
    }
}

.Filter_subContainer > div:first-of-type > div:nth-of-type(7) {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;
}

@media (max-width: 991.98px) {
    .Filter_subContainer > div:first-of-type > div:nth-of-type(odd) {
        flex-basis: 49.9%;
        flex-shrink: 0;
        flex-grow: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 767.98px) {
    .Filter_subContainer > div:first-of-type > div:nth-of-type(odd) {
        flex-basis: 49.5%;
    }
}

.Filter_subContainer > div:first-of-type > div p:first-of-type {
    font-weight: bold;
}

.Filter_subContainer > div:first-of-type label {
    margin-left: 8px;
}



/* ** */

h6 {
    margin-bottom: 20px;
}


/* ** */


.Filter_subContainer > div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;
    width: 36%;
}

@media (max-width: 1579.98px) {
    .Filter_subContainer > div:nth-of-type(2) {
        width: 50%;
    }
}

@media (max-width: 1199.98px) {
    .Filter_subContainer > div:nth-of-type(2) {
        width: 55%;
    }
}

@media (max-width: 991.98px) {
    .Filter_subContainer > div:nth-of-type(2) {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 767.98px) {
    .Filter_subContainer > div:nth-of-type(2) {
        width: 100%;
        margin-left: 0;
    }
}

.Filter_button {
    background-color: white;
    color: #3A3A3A;
    border: 1px solid #3A3A3A;
    text-align: center;
    height: 45px;
    width: 200px;
    padding-top: 10px;
    cursor: pointer;
}

.Filter_button:hover {
    background-color: rgb(235, 235, 235);
}

.Filter_button_active {
    background-color: #3A3A3A;
    color: white;
}

.Filter_button_active:hover {
    background-color: #4e4e4e;
}

