.filter-container {
    width: 76%;
    margin-left: 12%;
}

.filter-switch {
    width: 15%;
    height: 50px;
    cursor: pointer;
}

.filter-switch p {
    margin: 0;
}

.filter-sort {
    width: 40%;
}

.filter-sort p {
    margin: 0;
}


/* ** */

h6 {
    margin-bottom: 20px;
}

.range-container {
    width: 200px;
    height: 15px;
    cursor: pointer;
}

.range {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 50px;
}

.range span {
    width: 10px;
    height: 10px;
    /* background-color: black; */
    /* margin-top: -50%; */
    position: absolute;
    /* border-radius: 50%; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.divider {
    background-color: #ccc;
    width: 1px;
}

.filter-button-container {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.filter-button {
    background-color: white;
    color: #3A3A3A;
    border: 1px solid #3A3A3A;
    text-align: center;
    height: 45px;
    width: 200px;
    padding-top: 10px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: rgb(235, 235, 235);
}

.filter-button-active {
    background-color: #3A3A3A;
    color: white;
}

.filter-button-active:hover {
    background-color: #4e4e4e;
}