
.Product_specifications_container {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;

   width: 100%;
   position: absolute;
   right: 0;
   bottom: 24%;
}

@media (max-width: 1366px) {
   .Product_specifications_container {
      bottom: 10%;
   }
}

@media (max-width: 992px) {
   .Product_specifications_container {
      display: none;
   }
}

.Product_specifications_container>div:first-of-type {
   display: flex;
   flex-direction: column;
   width: 40%;
   margin-top: 16px;
}

@media (max-width: 992px) {
   .Product_specifications_container>div:first-of-type {
      width: 60%;
   }
}

.Product_specifications_container>div:first-of-type>div {
   display: flex;
   justify-content: space-between;
}

.Product_specifications_container>div:nth-of-type(2) {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.Product_specifications_container>div:nth-of-type(2)>svg {
   margin-right: 24px;
}