.products-select-container {
    width: 42%;
    margin-left: 29%;
}

.products-select {
    width: 155px;
    height: 46px;
    background-color: #F5F5F5;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 0;

    transform: translateY(15px);

}

.products-select p {
    display: none;
}

.products-select-active {
    background-color: #3A3A3A;
    color: white;

    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10 0 0 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    border: 0;
}

.products-select-active p {
    width: 100%;
    display: flex;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    
    border-top: 12px solid #3A3A3A;
    margin: 0;
  }
