.Session_container {
    text-align: center;
    height: auto;
    margin-bottom: 80px;
}

@media (max-width: 480px) {
    .Session_container > h1 {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 20px;
    }
}