.products-select-container {
    width: 42%;
    margin-left: 29%;
}

.products-select {
    width: 155px;
    height: 46px;
    background-color: #F5F5F5;
    padding: 10px;
    cursor: pointer;
}

.products-select-active {
    background-color: #3A3A3A;
    color: white;
}
