
.teste {
    color: grey;
}

.teste:hover {
    text-decoration: none;
    color: #ffc107;
}

p, h1, h2, h3, h4, h5, h6, label {
    color: grey;
}

ul {
    list-style-type: none;
    color: black;
    margin-bottom: 0;
    padding: 0;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #dee2e6;
}

nav {
    height: 70px;
    position: relative;
    padding: 16px 0;
}

@media (max-width:768px) {
    nav {
        height: auto;
    }
}

.Navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;

    position: fixed;
    z-index: 9999;
    background-color: #fff;
    top: 0;
}

@media (max-width: 992px) {
    .Navbar_container {
        right: 0;
    }
}

@media (max-width: 768px) {
    .Navbar_container {
        box-sizing: unset;
    }
}

.Navbar_container > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-basis: 33.33%;
    flex-shrink: 0;
    flex-grow: 0;
}

@media (max-width: 768px) {
    .Navbar_container > div:first-of-type {
        display: none;
    }
}

.Navbar_container > div:first-of-type > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 28%;
}

@media (max-width: 1200px) {
    .Navbar_container > div:first-of-type > ul {
        margin-left: 10%;
    }
}

.Navbar_container > div:first-of-type > ul a {
    padding: 16px 8px;
    text-decoration: none;
    color: rgb(145, 142, 142);
}

.Navbar_container > div:first-of-type > ul a:hover {
    color: #000;
}

.Logo {
    font-family: Lemonada, cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    color: #000;
}

.Logo:hover {
    color: #000;
    text-decoration: none;
}

.Logo span {
    color: #ffc107;
}

.Navbar_container > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-basis: 33.33%;
    flex-shrink: 0;
    flex-grow: 0;
}

@media (max-width: 992px) {
    .Navbar_container > div:nth-of-type(2) {
        position: absolute;
        right: 10px;
        width: 20%;
    }
}

@media (max-width: 480px) {
    .Navbar_container > div:nth-of-type(2) {
        font-size: 2em;
    }
}

@media (max-width: 360px) {
    .Navbar_container > div:nth-of-type(2) {
        right: 10px;
    }
}

.Navbar_container > div:nth-of-type(2) > p {
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    .Navbar_container > div:nth-of-type(2) > p {
        display: none;
    }
}

.Account_icons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media (max-width: 1579.98px) {
    .Account_icons {
        width: 80%;
    }
} */

@media (max-width: 1200px) {
    .Account_icons {
        width: 80%;
        margin-left: 15%;
    }
}

@media (max-width: 992px) {
    .Account_icons {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .Account_icons {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .Account_icons > li:first-of-type {
        display: none;
    }
}

@media (max-width: 480px) {
    .Account_icons > li:nth-of-type(2) {
        display: none;
    }
    /* .Account_icons > li:not(:last-of-type) {
        display: none;
    } */
}

.Enter_account_container {
    width: 40%;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Enter_account_btn {
    width: auto;
    height: 40px;
    color: grey;
    cursor: pointer;
    font-weight: bold;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Enter_account_btn p {
    margin: 5px 10px 5px 10px
}

.Menu_hamburger {
    display: none;
    margin-left: 12px;
    position: fixed;
    z-index: 9999;
}

@media (max-width: 768px) {
    .Menu_hamburger {
        display: inline-block;
    }
}

.Navigation_mobile_container {
    position: fixed;
    left: 0;
    top: 0;

    background-color: rgb(247, 247, 247);
    width: 50vw;
    height: 100vh;
    margin-left: -31px;
    z-index: 9999;
}

@media (max-width: 480px) {
    .Navigation_mobile_container {
        width: 80vw;
    }
}

@media (max-width: 360px) {
    .Navigation_mobile_container {
        width: 90vw;
    }
}

.Navigation_mobile_subContainer {
    position: relative;
    margin-left: 15%;
    margin-top: 5%;
}

.Navigation_mobile_list {
    flex-direction: column;
    width: 70%;
    margin-top: 40px;
}

@media (max-width: 480px) {
    .Navigation_mobile_list {
        font-size: 1.5em;
    }
}

.Navigation_mobile_list a {   
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    margin-bottom: 10px;
}

.Navigation_mobile_list svg {
    margin: 0;
}

.Navigation_mobile_submenu {
    overflow: hidden;
}

.Navigation_mobile_submenu > a:first-of-type {
    position: absolute;
    width: 70%;
    background-color: rgb(247, 247, 247);
    z-index: 9999;
}

.Navigation_mobile_submenu > ul {
    margin-left: 20px;
    margin-top: 30px;
}

.Navigation_mobile_contacts {
    margin-top: 50px;
    font-size: 12px;
}

@media (max-width:360px) {
    .Navigation_mobile_contacts {
        font-size: 1em;
    }
}

.Navigation_mobile_contacts > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.Navigation_mobile_contacts p,
.Navigation_mobile_contacts a {
    color: grey;
    margin-top: 0;
}

.Navigation_mobile_contacts > div:nth-of-type(2) > div {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 12px;
}

.Navigation_mobile_contacts > div:nth-of-type(2) > div svg {
    margin-left: 0;
    margin-top: 0;
}


