
.teste {
    color: grey;
}

.teste:hover {
    text-decoration: none;
    color: #ffc107;
}

p, h1, h2, h3, h4, h5, h6, label {
    color: grey;
}

ul {
    list-style-type: none;
    color: black;
    margin-bottom: 0;
    padding: 0;
}

li>a {
    color: black;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #dee2e6;
}

nav {
    height: 70px;
    /* display: flex;
    justify-content: space-between; */

    position: relative;
    padding: 16px 8px;
}

.Navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.Navbar_container > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-basis: 33.33%;
    flex-shrink: 0;
    flex-grow: 0;
}

.Navbar_container > div:first-of-type > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 28%;
}

.Navbar_container > div:first-of-type > ul a {
    padding: 16px 8px;
}

.Logo {
    font-family: Lemonada, cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    color: black;
}

.Logo span {
    color: #ffc107;
}

.Navbar_container > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-basis: 33.33%;
    flex-shrink: 0;
    flex-grow: 0;
}

.Navbar_container > div:nth-of-type(2) > p {
    margin-bottom: 0;
}

/* .Navbar_container > div:nth-of-type(2) ul {
    padding: 0;
} */

.Account_icons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Enter_account_container {
    width: 40%;
    color: grey;
    /* width: 60%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Enter_account_btn {
    width: auto;
    height: 40px;
    /* border: 3px solid grey; */
    color: grey;
    cursor: pointer;
    font-weight: bold;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* .Enter_account_btn:hover {
    border: 3px solid #ffc107;
    color: #ffc107;
    text-decoration: none;
} */

.Enter_account_btn p {
    margin: 5px 10px 5px 10px
}


.Navigation_mobile {
    position: absolute;
    left: 0;
    top: 0;

    background-color: rgb(247, 247, 247);
    width: 50vw;
    height: 100vw;
    margin-left: -31px;
    margin-top: -35px;
    z-index: 9999;
}

.Navigation_mobile svg {
    margin-left: 40px;
    margin-top: 60px;
}

.Navigation_mobile_main_list {
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-top: 40px;
}


.Navigation_mobile_main_list a {   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navigation_mobile_main_list svg {
    margin: 0;
}

.Navigation_mobile_submenu_shop {
    position: absolute;
    width: 70%;
    background-color: rgb(247, 247, 247);
    z-index: 9999;
}

.Navigation_mobile_sub_list {
    margin-left: 20px;
    margin-top: 35px;
}

.Navigation_mobile_contacts {
    margin-left: 15%;
    margin-top: 50px;
}

.Navigation_mobile_contacts p {
    font-size: 12px;
    margin-bottom: 0;
}

.Navigation_mobile_staySocial_icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 12px;
}

.Navigation_mobile_staySocial_icons svg {
    margin-left: 0;
    margin-top: 0;
}